   # k8s/model-pvc.yaml
   apiVersion: v1
   kind: PersistentVolumeClaim
   metadata:
     name: model-pvc
     namespace: mlops-fl
   spec:
     accessModes:
       - ReadWriteOnce
     resources:
       requests:
         storage: 1Gi
     storageClassName: hostpath